@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-condensed {
    font-stretch: ultra-expanded;
  }
}

.moveup {
  margin-top: -580px;
}
.list {
  list-style-type: disc;
}

.slick-next:before,
.slick-prev:before {
  color: blue;
}

.slick-dots li button:before {
  width: 40px;
  height: 40px;
  font-size: 10px;
  color: blue;
}
